<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusepos.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fuseposlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.fusepos.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.fusepos.activity.AndroidTabLayoutActivity"
            android:icon="@drawable/fuseposlogo"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fusepos.activity.SaleActivity"
            android:icon="@drawable/fuseposlogo"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- Songs Activity -->
        <activity android:name="com.fusepos.activity.SettingActivity" />
        <activity android:name="com.fusepos.activity.WebViewActivity" />

        <!-- Videos Activity -->
        <activity android:name="com.fusepos.activity.VideosActivity" />

        <!-- Photos Activity -->
        <activity android:name="com.fusepos.activity.LoginActivity" />

        <!--
             <service
            android:name="com.fusepos.service.DataSendService"
            android:enabled="true" />
        -->
    </application>

</manifest>